<form action="/change_password" method="post">
<p>Current Password: <input type="password" name="current_password"  ></p>
<p>New Password: <input type="password" name="new_password"  ></p>
<p>Confirm New Password: <input type="password" name="confirm_new_password"  ></p>
<input type="submit" value="change">
</form>

