<header>
  <table width='100%'>
    <tr>
      <td>
        <a class="jacker_news" href="/">Jacker News</a> | 
        <a href="/new">New</a> | 
        <a href="/threads">Threadz</a> | 
        <a href="/comments">Commentz</a> | 
        <a href="/ask">Ask</a> | 
        <a href="/submit">Submit</a> | 
      </td>
      <td style='align:right'>
        <%= erb :_user_widget %>
      </td>
    </tr>
  </table>
</header>
